<p-dialog header="Iniciar Sesión" [(visible)]="visible" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="p-4">
        <form>
            <div class="mb-4">
                <input pInputText type="text" placeholder="Usuario" />

            </div>

            <div class="mb-4">
                <input pInputText id="password" type="password" class="w-12rem"  placeholder="password"/>
            </div>
            <div class="flex items-center justify-between">
                <p-button  label="Submit" [loading]="loading" (onClick)="load()"></p-button>
            </div>
        </form>
    </div>
</p-dialog>
