<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-screen-md p-8 bg-white rounded-md shadow-md">
    <div class="md:w-1/2 md:mx-auto">
      <div class="text-center">
        <i class="fas fa-dog text-5xl text-red-500 mb-4"></i>
        <h1 class="text-4xl font-bold mb-4">Próximamente...</h1>
        <a href="/dashboard" class="block text-center text-blue-500 mb-4">¡Observa cómo quedará el Dashboard aquí!</a>
      </div>
      <h1 class="text-3xl font-semibold text-center mb-4">PetVax Reminder</h1>
      <p class="text-justify mb-8">
        PetVax Reminder es tu aliado en el cuidado de la salud de tu peludo
        amigo. Esta aplicación te ayuda a mantener al día las vacunas y
        controles médicos de tu mascota, enviándote recordatorios oportunos
        para que nunca te pierdas una cita importante con el veterinario. Con
        PetVax Reminder, proporcionamos la tranquilidad de saber que estás
        brindando el mejor cuidado posible a tu compañero peludo, garantizando
        una vida feliz y saludable. ¡Regístrate ahora y cuida a tu mascota con
        confianza!
      </p>
      <div class="flex gap-2 justify-center">
        <p-button [text]="true" (click)="showDialog('login')" label="Iniciar Sesión"></p-button>
        <p-button   [text]="true" (click)="showDialog('register')" severity="success" label="Regístrate"></p-button>

      </div>
    </div>
  </div>
</div>
<app-login-modal></app-login-modal>
<app-register-modal></app-register-modal>