<p-dialog
  header="Registrarse"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '30vw', height: '50vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <form>
    
    <div class="flex flex-col gap-3">
      <label for="correo">Correo</label>
      <input pInputText id="correo" aria-describedby="correo" />
      <label for="password">Contraseña</label>
      <p-password id="password" [toggleMask]="true"></p-password>
      <label for="username">Nombre</label>
      <input pInputText id="username" aria-describedby="username-help" />
      <label for="telefono">Telefono</label>
      <p-inputNumber
        id="telefono"
        [useGrouping]="false"
        [maxlength]="9"
        inputId="integeronly"
      >
      </p-inputNumber>
      <p-toast [life]="4000" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
        <p-button
          label="Registrarse"
          [loading]="loading"
          (click)="load()"
          [rounded]="true"
        ></p-button>
    
      </div>
  </form>
  
</p-dialog>
