<p>prueba works!</p><div class="flex  justify-center align-middle">
    <div class="">
      <h1 class="text-4xl text-center font-bold text-red-500 mb-4">SOON......</h1>
      <a href="/dashboard">OBSERVA COMO QUEDARÁ EL DASHBOARD AQUI</a>
      <h1 class="text-3xl font-semibold text-center mb-4">PetVax Reminder</h1>
      <p class="text-justify mb-8">
        PetVax Reminder es tu aliado en el cuidado de la salud de tu peludo
        amigo. Esta aplicación te ayuda a mantener al día las vacunas y
        controles médicos de tu mascota, enviándote recordatorios oportunos
        para que nunca te pierdas una cita importante con el veterinario. Con
        PetVax Reminder, proporcionamos la tranquilidad de saber que estás
        brindando el mejor cuidado posible a tu compañero peludo, garantizando
        una vida feliz y saludable. ¡Regístrate ahora y cuida a tu mascota con
        confianza!
      </p>

    </div>
  </div>

