<app-navbar></app-navbar>
<div class="flex flex-col gap-2">
  <header class="flex justify-center">
    <div class="text-purple-400">
      <h1>MIS MASCOTAS</h1>
    </div>
  </header>
  <section id="date_button" class="flex justify-between">
    <div class="pt-3">
      <p-button
        severity="success"
        label="Agregar Mascota"
        icon="pi pi-plus"
      ></p-button>
    </div>
    <div class="pr-4 pt-3">
      <span>Fecha de hoy : </span>
      <span class="text-red-700">29/02/2024</span>
    </div>
  </section>
  <div class="grid grid-cols-12 gap-2">
    <section class="col-span-7 containercards">
      <div class="flex flex-row flex-wrap gap-x-20 justify-center">
        <div class="mt-16">
          <a href="" class="no-underline">
            <div class="card flex justify-center">
              <p-card
                header="Goku"
                subheader="Luchito el mas pro"
                [style]="{ width: '360px', height: '468px' }"
              >
                <ng-template pTemplate="header">
                  <img
                    class="object-cover h-52"
                    alt="Card"
                    src="../../../assets/images/perrito.jpg"
                  />
                </ng-template>
                <div class="overflow-x-auto">
                  <ul class="p-0 flex flex-wrap gap-2 list-none">
                    <li class="flex-shrink-0">
                      <p-chip label="Goku"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="3 años"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="Golden"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="Macho"></p-chip>
                    </li>
                  </ul>
                </div>
              </p-card>
            </div>
          </a>
        </div>
        <!-- ... -->
        <div class="mt-16">
          <a href="" class="no-underline">
            <div class="card flex justify-center">
              <p-card
                header="Akita"
                subheader="La cutú"
                [style]="{ width: '360px', height: '468px' }"
              >
                <ng-template pTemplate="header">
                  <img
                    class="object-cover h-52"
                    alt="Card"
                    src="../../../assets/images/pastor.jpg"
                  />
                </ng-template>
                <div class="overflow-x-auto">
                  <ul class="p-0 flex flex-wrap gap-2 list-none">
                    <li class="flex-shrink-0">
                      <p-chip styleClass="my-chip" label="Akita"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="1 año"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="Pastor Alemán"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="Hembra"></p-chip>
                    </li>
                  </ul>
                </div>
              </p-card>
            </div>
          </a>
        </div>
        <!--  -->
        <div class="mt-16">
          <a href="" class="no-underline">
            <div class="card flex justify-center">
              <p-card
                header="Gorum"
                subheader="Un perrito muy bonito"
                [style]="{ width: '360px', height: '468px' }"
              >
                <ng-template pTemplate="header">
                  <img
                    class="object-cover h-52"
                    alt="Card"
                    src="../../../assets/images/gorum.jpg"
                  />
                </ng-template>
                <div class="overflow-x-auto">
                  <ul class="p-0 flex flex-wrap gap-2 list-none">
                    <li class="flex-shrink-0">
                      <p-chip label="Gorum"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="2 meses"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="Shitzu"></p-chip>
                    </li>
                    <li class="flex-shrink-0">
                      <p-chip label="Macho"></p-chip>
                    </li>
                  </ul>
                </div>
              </p-card>
            </div>
          </a>
        </div>
      </div>
    </section>
    <div class="divider">
      <p-divider class="col-span-1" layout="vertical"></p-divider>
    </div>
    <aside class="col-span-4 containerreminders">
      <div class="flex justify-center gap-2">
        <div class="w-12">
          <app-idea-icon></app-idea-icon>
        </div>
        <h3 class="text-center">Recordatorios</h3>
      </div>
      <div class="flex flex-col gap-2">
        <div class="p-3 bg-white rounded-lg shadow-md">
          <h4>Sacar al perro</h4>
          <div class="flex flex-row justify-between">
            <span>Próxima vez: 29/02/2024</span>
            <span>Frecuencia: Diaria</span>
            <!-- Puedes ajustar la frecuencia según tus necesidades -->
          </div>
        </div>
        <div class="p-3 bg-white rounded-lg shadow-md">
          <h4>Vacunar al bebé</h4>
          <div class="flex flex-row justify-between">
            <span>Próxima vez: 29/02/2024</span>
            <span>Frecuencia: Mensual</span>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <section>
    <h1>Detalles</h1>
  </section>
</div>
